<!-- Start preloader -->
<div id="preloader"></div>
<!-- End preloader -->

<!-- navbar -->
<%- include('../../partials/admin/nav') %>


<%- include('../../partials/messages') %>
<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('../../partials/admin/sidenav') %>

    <div id="layoutSidenav_content" >
        <main>
            
            <div class="container-fluid px-4 row">
               
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                
                <div class="mb-4">


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Update image</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form action="/dashboard/gallery/updateimage" method="POST" enctype="multipart/form-data">
                              <div class="mb-3">
                                <label for="image" class="form-label">image</label>
                                <input type="hidden" name="id" value="<%= content.id != null ? content.id : null %>" required>
                                <input type="file" name="image" required class="form-control" id="image">
                              </div>
                          </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn" style="background-color: #492bc4; color: white">Submit</button>
                        </form>
                          </div>
                          
                      </div>
                      </div>
                  </div>
                    
                    
                    <div class="container mt-5 px-2">

                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Gallery</h5>
                            <button type="button" class="btn" style="background-color: #492bc4; color: white" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                              Update Image
                          </button>
                            </div>
                            <div class="d-flex justify-content-right">
                              <img  class="my-2 mx-3 rounded-4" src="<%= content.image != null ? content.image : null %>" alt="profile" style="width:150px">
                            </div>
                            <div class="modal-body">
                              <form action="edit" method="POST">
                                <div class="mb-3">
                                  <label for="title" class="form-label">Title</label>
                                  <input type="hidden" name="id" value="<%= content.id != null ? content.id : null %>" required>
                                  <input type="text" name="title" value="<%= content.title != null ? content.title : null %>" required class="form-control" id="title">
                                </div>
                                <div class="mb-3">
                                  <label for="description" class="form-label">Description</label>
                                  <textarea type="text" name="description" required class="form-control" id="password"><%= content.description != null ? content.description : null %></textarea>
                                </div>
                                <!-- <div class="mb-3">
                                  <label for="image" class="form-label">image</label>
                                  <input type="file" name="image" required class="form-control" id="image">
                                </div> -->
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" style="background-color: #492bc4;">Submit</button>
                          </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
