<!-- Start preloader -->
<div id="preloader"></div>
<!-- End preloader -->

<!-- navbar -->
<%- include('../../partials/admin/nav') %>


<%- include('../../partials/messages') %>
<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('../../partials/admin/sidenav') %>

    <div id="layoutSidenav_content" >
        <main>
            
            <div class="container-fluid px-4 row">
               
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="w-100 d-flex justify-content-end m-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add to Gallery
                    </button>
                </div>
                <div class="mb-4">
                    <!-- Button trigger modal -->
                   
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add To Gallery</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form action="/dashboard/gallery" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                  <label for="title" class="form-label">Title</label>
                                  <input type="text" name="title" required class="form-control" id="title">
                                </div>
                                <div class="mb-3">
                                  <label for="description" class="form-label">Description</label>
                                  <textarea type="text" name="description" required class="form-control" id="password">
                                  </textarea>
                                </div>
                                <div class="mb-3">
                                  <label for="image" class="form-label">image</label>
                                  <input type="file" name="image" required class="form-control" id="image">
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="container mt-5 px-2">

                        <table class="table table-responsive table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">title</th>
                                <th scope="col">details</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                <%if(posts != undefined) {%>
                                    <%posts.forEach((post, i)=>{ %>
                                        <tr>

                                        <th scope="row"><%= i += 1 %></th>
                                        <td><%= typeof post.title != undefined ? post.title : null%></td>
                                        <td><%= typeof post.description != undefined ? post.description : null%></td>
                                        <td><img src="<%= typeof post.image != undefined ? post.image : null%>" alt="image" style="width: 50px; border-radius:50;"></td>
                                        <td>
                                            <a class="p-1 btn btn-sm btn-danger" href="gallery/delete?id=<%= typeof post.id != undefined ? post.id : null%>">Delete</a>
                                        </td>
                                        <td>
                                            <a class="p-1 btn btn-sm btn-warning" href="gallery/edit?id=<%= typeof post.id != undefined ? post.id : null%>">Edit</a>
                                        </td>
                                        </tr>
                    
                                    <%})%>
                                <%}%>
                            </tbody>
                          </table>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
